@import "layout.css";

/* Friends Page */
.friends-page {
    display: flex;
    flex-direction: column;
    margin-left: 14rem;
    margin-top: 1.25rem;
    row-gap: 2rem;
}

.friends-list-container {
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 2rem;
    column-gap: 2rem;
}