@import "base.css";

/* Navbar */
nav {
    width: 100%;
    background: var(--color-white);
    padding: 0.7rem 0;
    position: fixed;
    top: 0;
    z-index: 10;
}

nav .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-bar {
    background: var(--color-light);
    border-radius: var(--border-radius);
    padding: var(--search-padding);
    display: flex;
}

.search-bar input[type="search"] {
    background: transparent;
    width: 30ww;
    margin-left: 1rem;
    font-size: 0.9rem;
    color: var(--color-dark);
}

nav .create {
    display: flex;
    align-items: center;
    gap: 2rem;
}

/*------------Profile Popup Stuff------------------*/
.user-profile {
    position: relative;
    cursor: pointer;
}

.profile-img {
    width: 66px;
    /* Or the size you want */
    height: 66px;
    /* Or the size you want */
    border-radius: 50%;
    /* Makes the image circular */
    object-fit: cover;
    /* Ensures the image covers the area */
}

.profile-options {
    display: none;
    /* Hide options initially */
    position: absolute;
    right: 0;
    top: 45px;
    /* Position below the profile image */
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
    /* Or the width you want */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-options a {
    display: block;
    padding: 10px;
    color: black;
    text-decoration: none;
    border-bottom: 1px solid #eee;
}

.profile-options a:last-child {
    border-bottom: none;
}

.profile-options a:hover {
    background-color: #f0f0f0;
}

main {
    position: relative;
    top: 5.4rem;
}

main .container {
    display: grid;
    grid-template-columns: 18vh auto 20vw;
    column-gap: 2rem;
    position: relative;
}

main .container .left {
    height: max-content;
    position: sticky;
    top: var(--sticky-top-left);
}

main .container .left .profile {
    padding: var(--card-padding);
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    display: flex;
    align-items: center;
    column-gap: 1rem;
    width: 150%;
    margin-top: 20px;
    /* Adds space on top of the profile. Adjust the value as needed. */

}

.left .sidebar {
    margin-top: 1rem;
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    width: 150%;
}

.left .sidebar .menu-item {
    display: flex;
    align-items: center;
    height: 4rem;
    cursor: pointer;
    transition: all 300ms ease;
    position: relative;
}

.left .sidebar .menu-item:hover {
    background: var(--color-light);
}

.left .sidebar i {
    font-size: 1.4rem;
    color: var(--color-gray);
    margin-left: 2rem;
    position: relative;
}

.left .sidebar h3 {
    margin-left: 1.5rem;
    font-size: 1rem;
}

.left .sidebar .active {
    background: var(--color-light);
}

.left .sidebar .active i,
.left .sidebar .active h3 {
    color: var(--color-primary);
}