@import "layout.css";

.profile-container {
    margin-top: 2rem;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(2, 1fr);
    width: 80vw;
}

.profile-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.grid-column-span-2 {
    grid-column: span 2;
}

.box:last-child {
    grid-column: 2;
    grid-row: 2;
}