@import "layout.css";

.profile-container {
    margin-top: 2rem;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(2, 1fr);
    width: 80vw;
}

.profile-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.grid-column-span-2 {
    grid-column: span 2;
}

.box:last-child {
    grid-column: 2;
    grid-row: 2;
}

/* Bio Section of Profile Page */
#bio section {
    display: flex;
    justify-content: space-between;
}

#bio-edit {
    padding: 1rem;
}

#bio form {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

#bio form input {
    padding: 0.5rem;
    border-radius: 0.5rem;
}

/* Friends Section of Profile Page */
#profile-friends-header {
    display: flex;
    justify-content: space-between;
}

#profile-friendslist {
    display: flex;
    justify-content: space-between;
}

#profile-friend-entry {
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius);
    padding: 1rem;
    row-gap: 0.5rem;
}