{% extends 'layout.html' %}

{% block title %}Fakebook - Friends{% endblock %}

{% block content %}
{% if msg %}
<h3> {{ msg }}</h3>
{% endif %}

<div class="friends-list-header">
    <h3>Friends List</h3>
    <form action="" method="get">
        <input type="search" name="searchbox-friends" id="searchbox-friends" autocomplete="no"
            placeholder="Search for friends" required>
        <input type="submit" name="search-friends-submit" id="search-friends-submit" value="Search">
    </form>
</div>

<div class="friends-list-container">
    {% for friend_id, friend in friends.items() %}
    <div class="box">
        <h4>{{ friend['friend_name'] }}</h4>
    </div>
    {% endfor %}
</div>



{% endblock %}