{% extends 'layout.html' %}

{% block title %}Fakebook - Friends{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/friends.css') }}">
{% endblock %}

{% block content %}
{% if msg %}
<h4> {{ msg }}</h4>
{% endif %}

<div class="friends-page">
    {% if friends %}
    <div class="friends-page">
        <h3>Friends List</h3>
        <div class="friends-list-container">
            {% for friend_id, friend in friends.items() %}
            <div class="box">
                <h4>{{ friend['friend_name'] }}</h4>
            </div>
            {% endfor %}
        </div>
    </div>
    {% else %}
    <div>
        <h3>Friends List</h3>
        <label>No Friends...</label>
    </div>
    {% endif %}
</div>

{% endblock %}