{% extends 'layout.html' %}

{% block title %}Fakebook - Friends{% endblock %}

{% block content %}
{% if msg %}
<h4> {{ msg }}</h4>
{% endif %}

<!---
<div class="friends-search">
    <h3>Search for Friends</h3>
    <form action="{{ url_for('views.send_friend_request') }}" method="post">
        <input type="search" name="searchbox-friends" id="searchbox-friends" autocomplete="no"
            placeholder="Enter friend's username" required>
        <input type="submit" name="search-friends-submit" id="search-friends-submit" value="Send Friend Request">
    </form>
</div> -->

<div class="friends-page">
    <div class="friends-search">
        <h3>Search for Friends</h3>
        <form action="{{ url_for('views.send_friend_request') }}" method="post">
            <input type="search" name="searchbox-friends" id="searchbox-friends" autocomplete="no"
                placeholder="Enter friend's username" required>
            <input type="submit" name="search-friends-submit" id="search-friends-submit" value="Send Friend Request">
        </form>
    </div>

    {% if friends %}
    <div class="friends-page">
        <h3>Friends List</h3>
        <div class="friends-list-container">
            {% for friend_id, friend in friends.items() %}
            <div class="box">
                <h4>{{ friend['friend_name'] }}</h4>
            </div>
            {% endfor %}
        </div>
    </div>
    {% else %}
    <div>
        <h3>Friends List</h3>
        <label>No Friends...</label>
    </div>
    {% endif %}
</div>

{% endblock %}