{% extends 'layout.html' %}

{% block title %}Fakebook - Home{% endblock %}

{% block content %}
<div class="home-header">
    <h3>{{ username }}</h3>
    <button id="open-post-popup">Create Post</button>

    <dialog class="post-popup" id="post-popup">
        <div>
            <h2></h2>
            <h2>Create Post</h2>
            <label id="close-post-popup">X</label>
        </div>

        <form action="{{ url_for('post') }}" method="post" autocomplete="off">
            <textarea rows="5" name="post-textbox" id="post-textbox" placeholder="What's on your mind {{ username }}?"
                required></textarea>
            <input type="file" name="post-media" id="post-media" accept="image/png, image/jpeg" />
            <input type="submit" value="Create Post" />
            <div class="login-msg">{{ msg }}</div>
        </form>
    </dialog>

    <script>
        const open_popup = document.getElementById('open-post-popup')
        const close_popup = document.getElementById('close-post-popup')
        const dialog = document.getElementById('post-popup')

        open_popup.addEventListener("click", () => {
            dialog.showModal();
        })

        close_popup.addEventListener("click", () => {
            dialog.close();
        })
    </script>
</div>

<div>
    <h1>Posts</h1>
</div>
{% endblock %}
