{% extends "base.html" %}

{% block title %}Fakebook - Login{% endblock %}

{% block content %}
<div class="login-wrapper">
    <div class="login-form-container">
        <div class="login-greeter">
            <h1>Fakebook</h1>
            <label>Connect with friends around the world.</label>
        </div>

        <div class="login-container">
            <form action="{{ url_for('auth.login') }}" method="post">
                <div class="login-msg">{{ msg }}</div>
                <input type="text" name="username" id="username" placeholder="Username" maxlength="25" required>
                <input type="password" name="password" id="password" placeholder="Password" maxlength="25" required>
                <input class="login-button" type="submit" value="Login">
            </form>

            <a href="">Forgot Password?</a>

            <button onclick="window.location.href=`{{ url_for('auth.signup') }}`">Signup</button>
        </div>
    </div>
    <!-- <div class="login-image">
        <img src="{{ url_for('static', filename='images/bulldog.png') }}" alt="Bulldog">
    </div> -->
</div>
{% endblock %}