{% extends 'layout.html' %}

{% block title %}Fakebook - Post{% endblock %}

{% block content %}
{% if msg %}
<h3> {{ msg }}</h3>
{% endif %}

<div class="box">
    <div class="box-details">
        <h4>{{ post['creator_name'] }}</h4>
        <label>{{ post['creation_date'] }}</label>
        <label>Likes: {{ post['likes'] }}</label>
    </div>
    <hr class="solid">
    <p>{{ post['description'] }}</p>
    <hr class="solid">

    <form class="box-comment" action="" method="post" autocomplete="on">
        <textarea rows="5" name="comment-textbox" id="comment-textbox" placeholder="What's on your mind {{ username }}?"
            maxlength="500" required></textarea>
        <input type="submit" name="comment-submit" id="comment-submit" value="Comment" />
    </form>

    <div class="comment-area">
        <h4>Comments</h4>
        {% if post['comments'] %}
        {% for comment in post['comments'] %}
        <div class="comment">
            <div class="comment-details">
                <h4>{{ comment['commenter_name'] }}</h4>
                <label>{{ comment['creation_date'] }}</label>
            </div>
            <p>{{ comment['text'] }}</p>
            <hr class="solid">
        </div>
        {% endfor %}
        {% else %}
        <h4>No Comments...</h4>
        {% endif %}
    </div>
</div>

{% endblock %}