{% extends 'layout.html' %}

{% block title %}Fakebook - Profile{% endblock %}

{% block content %}
<div class="profile-page">
    <div class="profile-header">
        <section>
            <h3>
                {{ user['name']['first_name'] }} {{ user['name']['last_name'] }}
            </h3>
            <label>
                Friends: {{ user['friends_list']['total_friends_count'] }}
            </label>
        </section>
    </div>

    <div class="profile-bio">
        <section>
            hello
        </section>
    </div>
</div>
{% endblock %}