<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Fakebook - Signup</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

    <div class="signup">
        <h2>Signup for Fakebook</h2>

        <form action="{{ url_for('signup') }}" method="post" autocomplete="off">
            <input type="text" name="username" id="username" placeholder="Username" maxlength="25" required>
            <input type="email" name="email" id="email" placeholder="Email" maxlength="100" required>
            <input type="password" name="password" id="password" placeholder="Password" maxlength="25" required>
            <input type="submit" value="Signup">
            <div class="login-msg">{{ msg }}</div>
        </form>
    </div>

    <script src="" async defer></script>
</body>

</html>